.container {
    color: #FFF;
}
.imageWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    object-position: left top;
}
.main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 165px;
    position: absolute;
    bottom: 130px;
}
.card {
    max-width: 450px;
}
.card h1, .card h5 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
}
.card h5 {
    color: #D0D6F9;
}
.card p {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.button-main {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    border: none;
    background: #FFF;
    font-size: 32px;
    font-family: Bellefair;
    text-transform: uppercase;
    color: #0B0D17;
}

.button-main:hover {
    background: #FFF;
    box-shadow: 0px 0px 0px 88px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
